[Desktop Entry]
Name=ArchPackageManager
Comment=A simple Arch Linux package manager with a GUI
Exec=/usr/bin/archpackagemanager
Terminal=false
Type=Application
Categories=Utility;
